
.heroBanner {
  background-color: transparent;
  padding: 6rem 0rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .buttons {
  gap: 2rem;  
}
  .buttons * {
    padding: 1rem 3rem;
  }

  .heroBanner {
    padding: 2rem;
  }

  .heroBanner :global(.hero__title) {
  padding: 2rem 0rem 1rem 0rem;
}
}

.buttons {
  font-family: var(--ifm-font-family-monospace);
  padding: 7rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
  overflow: visible;
  z-index: 100;        
}

.buttons * {
  border-radius: 0.75rem;
  position: relative; 
  z-index: 2; 
  border: 2px solid var(--main-text-col);
  box-shadow: 4px 4px 0 var(--main-text-col);
  background: transparent;
  color: var(--main-text-col);
  padding: 1rem 4rem;
  font-weight: 600;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.buttons *::before {
  content: "";
  position: absolute;
  bottom: 39%;
  left: 50%;
  transform: translateX(-50%) translateY(100%) scale(0.7);
  width: 75px; 
  height: 75px;
  background-image: url('/img/cat.gif'); 
  background-size: cover;
  background-position: center;
  opacity: 0;
  pointer-events: none;
  z-index: 1; 
  transition: transform 0.15s cubic-bezier(0.22,1.2,0.32,1), 
              opacity 0.05s ease-out; 
  transition-delay: 0s; 
}

.buttons *:hover {
  transform: translate(4px, 4px);
  box-shadow: 0px 0px 0 var(--main-text-col);
  background-color: var(--main-text-col);
  color: var(--bg-col);
}

.buttons *:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(-20%) scale(1);
  transition-delay: 0.3s; 
}

.heroBanner :global(.hero__title) {
  padding: 10rem 0rem 2rem 0rem;
  font-family: var(--ifm-font-family-monospace);
  font-weight: 600;
  font-size: 5rem;

  background: linear-gradient(90deg, #b708d2, #bbee22, #b708d2);
  background-size: 300% 100%;

  /* standard + prefisso */
  background-clip: text;
  -webkit-background-clip: text;

  /* necessario per mostrare il testo trasparente */
  color: transparent;
  -webkit-text-fill-color: transparent;

  animation: heroGradientMove 4s ease infinite;
}

@keyframes heroGradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}
