@import "katex/dist/katex.min.css";
@import "./variables.css";

h1 {font-family: var(--ifm-font-family-monospace); font-weight: 600;}
.footer { padding: 0.75rem; white-space: pre-line; font-size: 1rem; background-color: var(--bg-col); border-top: var(--border-1px) 1px solid;}
.navbar { background-color: var(--navbar-bg);}
.navbar__link {font-family:var(--ifm-font-family-monospace);}
.codeBlockLines_e6Vv {background-color: var(--codice-bg)}
.pagination-nav__link {border: none; color: var(--ifm-color-primary);}
.pagination-nav{border-top: var(--border-1px) 1px solid;}
.pagination-nav__label:hover { text-decoration: underline; }
.navbar__link--active { text-decoration: underline; }

.pagination-nav__sublabel {display: none;}
.pagination-nav__label {
  font-weight: bolder; 
  font-size: 1rem;
  font-weight: 600;
}

.pagination-nav__link--prev .pagination-nav__label::before { content: "< "; }
.pagination-nav__link--next .pagination-nav__label::after { content: " >" }

.menu__caret:hover, .menu__caret:focus {
  background-color: transparent;
  color: inherit;
}

.menu__list-item-collapsible {
  margin-top: -1px;
  border-left: var(--border-1px) 1px solid;
  border-bottom: var(--border-1px) 1px solid;
  border-top: var(--border-1px) 1px solid;
  border-radius: 0rem;
  padding: 1rem;
}

.linkLabel_WmDU { padding: 1rem; }

.menu { padding: 0px 0px 8px 0px !important; }

.menu__list, .menu__list-item, .menu__link {
  border-radius: 0px;
  margin: 0px;
}


.table-of-contents__link { padding: 0.25rem 0.5rem; }

.table-of-contents ul li .table-of-contents__link {
  padding-left: 1rem; 
}

.table-of-contents ul li {  
  margin-bottom: 0.25rem; 
}

.theme-doc-breadcrumbs,  .breadcrumbsContainer_Z_bl {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

table {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  width: 100%;
  display: table;
  table-layout: fixed; 
}

th {
  font-weight: 800;
  text-align: left;
  padding: 0.40rem;
  vertical-align: middle;
  word-wrap: break-word;
}

td {
  vertical-align: middle;
  text-align: left; 
  padding: 0.40rem;
  word-wrap: break-word;
}


.img_ev3q {
  display: block;
  margin: 0 auto; 
  border-radius: 0.75rem;
  height: auto; 
}

.graficiFunzioni { margin: 1rem; }

.alert {
  box-shadow: none;
  border-radius: var(--border-radius);
  border: var(--ifm-tabs-color-active-border) 2px solid;
}

.navbar {
  box-shadow: none;
  border-bottom: var(--border-1px) 1px solid;
}

.admonitionHeading_Gvgb {
  font-size: 0.95rem;
  font-weight: 600;
}


.codeBlock_bY9V .codeBlockTitle_OeMC{ 
  background-color: red;
}

.codeBlockContainer_Ckt0, .prism-code {
  border-radius: var(--border-radius);
  box-shadow: none;
}

.theme-code-block-highlighted-line {
  background-color: var(--highlight-code-bg);
}

.theme-admonition-tip {
  --ifm-tabs-color-active-border: #00cc6380;
  background-color: #00cc6330;
}

.theme-admonition-warning {
  --ifm-tabs-color-active-border: #cc7e0080; 
  background-color: #cc7e0030;
}

.theme-admonition-danger {
  --ifm-tabs-color-active-border: #cc003080;
  background-color: #cc003030;

}

.theme-admonition-info {
  --ifm-tabs-color-active-border: #48ADF680;
  background-color: #48ADF630;
}

.menu__caret:before { 
  background: url('/img/freccia.svg') center/0.75rem 0.75rem no-repeat; 
}

.menu__link--sublist-caret:after {
  background: url('/img/freccia.svg') center/0.75rem 0.75rem no-repeat;
}

.prism-code *,
.prism-code span.token,
.prism-code code,
.prism-code pre {
  font-style: normal !important;
}

.navbar-sidebar__back { display: none; }

.navbar-sidebar__brand {
  box-shadow: none;
  border-bottom: var(--border-1px) 1px solid;
}

.navbar-sidebar {
  box-shadow: none;
  background-color: var(--bg-col);
}

.navbar-sidebar__backdrop {
  backdrop-filter: blur(5px);
  background-color:  color-mix(in srgb, var(--bg-col), transparent 95%) !important;
}

.breadcrumbs__item .breadcrumbs__link {
  background-color: transparent;
  border: var(--ifm-heading-color) 1px solid;
  border-radius: 10rem;
}

.breadcrumbs__item--active .breadcrumbs__link {
  background-color: transparent;
  border-radius: 10rem;
  border: var(--home-text-col) 1px solid;
}

