/* ==========================================================================
   1. IMPORTS & ANIMATIONS
   ========================================================================== */
@import "katex/dist/katex.min.css";
@import "./variables.css";

@font-face {
  font-family: "Pixelated MS Sans Serif"; /* Il nome che userai nel codice */
  src: url("/static/fonts/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@keyframes navbar-shadow {
  from {
    box-shadow: none;
  }
  to {
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.05);
  }
}

/* --- ADWAITA SANS --- */
@font-face {
  font-family: "Adwaita Sans";
  src: url("../../static/fonts/AdwaitaSans-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adwaita Sans";
  src: url("../../static/fonts/AdwaitaSans-Italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* --- ADWAITA MONO --- */
@font-face {
  font-family: "Adwaita Mono";
  src: url("../../static/fonts/AdwaitaMono-Regular.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url("../../static/fonts/AdwaitaMono-Italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Adwaita Mono";
  src: url("../../static/fonts/AdwaitaMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Nota: Ho usato Boldltalic con la 'l' minuscola come nel tuo errore,
   ma controlla se nel file originale è una 'I' maiuscola! */
@font-face {
  font-family: "Adwaita Mono";
  src: url("../../static/fonts/AdwaitaMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* ==========================================================================
   2. GLOBAL & LAYOUT
   ========================================================================== */
html {
  font-size: 100%;
}

hr {
  background-color: var(--border-1px);
}

.markdown {
  line-height: 2;
}

.card {
  border-radius: var(--border-radius);
}

.img_ev3q {
  display: block;
  margin: 0 auto;
  border-radius: 0.75rem;
  height: auto;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.graficiFunzioni {
  margin: 1rem;
}

/* ==========================================================================
   3. TYPOGRAPHY & TEXT ELEMENTS
   ========================================================================== */
h1 {
  font-size: 2.6em;
  font-weight: 800;
  margin-top: 0.25em;
  margin-bottom: 1em;
}

h2 {
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 1.462em;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5 !important;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.318em;
  margin-top: 2em;
  margin-bottom: 0.75em;
}

li {
  line-height: 1.6;
  margin-bottom: 0.5rem;
}

mark {
  background-color: #f6ff00e2;
  border-radius: 4px;
}

.tag__s3k * {
  font-weight: 700;
  border-radius: var(--border-radius);
  border: none;
  color: var(--bg-col);
  background-color: var(--home-text-col);
}

.theme-doc-markdown.markdown {
  padding: 0 2rem 2rem;
}

/* ==========================================================================
   4. NAVIGATION (NAVBAR & BREADCRUMBS)
   ========================================================================== */
.navbar {
  background-color: var(--bg-col);
  box-shadow: none;
  animation: navbar-shadow linear both;
  animation-timeline: scroll();
  animation-range: 0px 40px;
}

.navbar__link--active {
  text-decoration: underline;
}

.navbar__item.dropdown .dropdown__menu li:nth-child(3) {
  display: none;
}

.navbar-sidebar {
  box-shadow: none;
  background-color: var(--bg-col);
}

.navbar-sidebar__back {
  display: none;
}

.navbar-sidebar__brand {
  box-shadow: none;
  border-bottom: var(--border-1px) 1px solid;
}

.navbar-sidebar__backdrop {
  backdrop-filter: blur(5px);
  background-color: color-mix(in srgb, var(--bg-col), transparent 95%);
}

.breadcrumbs__item .breadcrumbs__link {
  background-color: transparent;
  border: none;
  border-radius: 10rem;
}

.breadcrumbs__item:not(:last-child)::after {
  filter: none !important;
  opacity: 1 !important;
  content: "›";
  color: var(--ifm-heading-color);
  background: none;
}

.breadcrumbs__item--active .breadcrumbs__link {
  background-color: transparent;
  border-radius: 10rem;
  font-weight: 600;
  border: var(--home-text-col) 1px solid;
}

.theme-doc-breadcrumbs,
[class*="breadcrumbsContainer_"] {
  margin-top: 0.75rem;
  margin-bottom: 1.25rem;
}

.dropdown__menu,
.theme-doc-version-badge {
  border-radius: var(--border-radius);
}

/* ==========================================================================
   5. SIDEBAR & MENUS
   ========================================================================== */
.menu {
  font-weight: 400;
  font-size: 0.95rem;
  padding: 0px 0px 8px 0px !important;
  background-color: var(--nav-col);
  border-right: var(--border-1px) 1px solid;
}

.menu__list,
.menu__list-item,
.menu__link {
  border-radius: 0px;
  margin: 0px;
}

.menu__list-item {
  transition: background-color 0s linear 0.2s;
}

.menu__link {
  padding: 1.25rem 1.5rem;
}

.menu__link--active {
  background-color: transparent !important;
}

.menu__list-item-collapsible {
  margin-top: -1px;
  border-left: var(--border-1px) 1px solid;
  border-bottom: var(--border-1px) 1px solid;
  border-top: var(--border-1px) 1px solid;
  border-radius: 0rem;
  padding: 0rem;
}

.menu__list-item-collapsible .menu__link {
  padding: 1.25rem 1.5rem;
}

.menu__list-item:has(> .menu__list-item-collapsible > [aria-expanded="true"]) {
  background-color: var(--border-1px);
  transition: background-color 0s;
}

.menu__list-item:has(
    > .menu__list-item-collapsible > [aria-expanded="true"]
  ):hover {
  background-color: var(--border-1px);
}

.menu__list-item-collapsible:has(> [aria-expanded="true"]) {
  border-bottom: none;
  font-weight: 600;
}

.menu__link--active:not(.menu__link--sublist) {
  text-decoration: underline;
}

.menu__list .menu__list .menu__link {
  transition:
    color 0s linear 0.2s,
    text-decoration 0s linear 0.2s;
}

.menu__list .menu__list .menu__link--active:not(.menu__link--sublist),
.menu__list .menu__list .menu__link:not(.menu__link--sublist):hover {
  text-decoration: underline !important;
  transition:
    color 0s,
    text-decoration 0s;
}

.menu__caret:before {
  background: url("/img/freccia.svg") center/0.75rem 0.75rem no-repeat;
}

.menu__link--sublist-caret:after {
  background: url("/img/freccia.svg") center/0.75rem 0.75rem no-repeat;
}

.theme-doc-sidebar-container {
  border-right: var(--border-1px) 1px solid;
}

[class*="toggleButton_"]:hover {
  background-color: var(--border-1px);
}

/* ==========================================================================
   6. TABLE OF CONTENTS (TOC)
   ========================================================================== */
.table-of-contents {
  border: none;
}

.table-of-contents__link {
  padding: 0.25rem 0.5rem;
}

.table-of-contents__link--active {
  font-weight: 500;
}

.table-of-contents ul li {
  margin-bottom: 0.25rem;
}

.table-of-contents ul li .table-of-contents__link {
  padding-left: 1rem;
}

.theme-doc-toc-mobile {
  padding: 0.75rem;
  border: var(--border-1px) 1px solid;
  background-color: transparent;
  border-radius: var(--border-radius);
}

[class*="tocCollapsibleButton_"]:after {
  background: url("/img/freccia.svg") center/0.75rem 0.75rem no-repeat;
  transform: rotate(90);
}

/* ==========================================================================
   7. PAGINATION & FOOTER
   ========================================================================== */
.pagination-nav {
  border-top: var(--border-1px) 1px solid;
}

.pagination-nav__link {
  border: none;
  color: var(--ifm-color-primary);
}

.pagination-nav__label {
  font-size: 1rem;
}

.pagination-nav__label:hover {
  text-decoration: underline;
}

.pagination-nav__sublabel {
  display: none;
}

.pagination-nav__link--prev .pagination-nav__label::before {
  content: "< ";
}

.pagination-nav__link--next .pagination-nav__label::after {
  content: " >";
}

.footer {
  padding: 0.75rem;
  white-space: pre-line;
  font-size: 0.9rem;
  background-color: transparent;
  border-top: var(--border-1px) 1px solid;
  font-family: var(--ifm-font-family-monospace);
}

.theme-back-to-top-button {
  display: none;
}

/* ==========================================================================
   8. TABLES & DATA
   ========================================================================== */

table {
  width: 100%;
  min-width: 100%;
  table-layout: fixed;
  display: table;
  border-collapse: separate;
  border-spacing: 0;
  overflow: hidden;
  background-color: transparent;
  border: 1.5px solid var(--table-color);
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

th {
  font-weight: 650;
  text-align: left;
  padding: 0.6rem;
  vertical-align: middle;
  word-wrap: break-word;
  border-bottom: 1.5px solid var(--table-color) !important;
  background-color: var(--table-color) !important;
}

td {
  padding: 0.6rem;
  vertical-align: middle;
  text-align: left;
  word-wrap: break-word;
  border-right: 1.5px solid var(--table-color) !important;
  border-bottom: 1.5px solid var(--table-color) !important;
}

/* Pulizia per combaciare con il bordo esterno */
td:last-child,
th:last-child {
  border-right: none !important;
}

tr:last-child td {
  border-bottom: none !important;
}

table th,
table td {
  border: none;
}

/* ==========================================================================
   9. CODE BLOCKS & ADMONITIONS (ALERTS)
   ========================================================================== */
p code,
li code {
  background-color: var(--text-code-color);
  border: none;
  padding: 0.15rem 0.25rem;
}

p code {
  border: none;
}

[class*="codeBlockLines_"] {
  background-color: var(--codice-bg);
}

[class*="codeBlockContainer_"],
.prism-code {
  background-color: var(--codice-bg);
  border-radius: var(--border-radius);
  box-shadow: none;
  margin-bottom: 0;
}

[class*="codeBlockTitle_"] {
  border-bottom: 1px solid var(--code-border-bott);
}

.theme-code-block-highlighted-line {
  background-color: var(--highlight-code-bg);
}

.prism-code *,
.prism-code span.token,
.prism-code code,
.prism-code pre {
  line-height: 1.8;
  font-style: normal !important;
}

html[data-theme="dark"] .prism-code .token.comment {
  color: #616060 !important;
  font-style: italic;
}

[class*="buttonGroup_"] button {
  background-color: transparent;
  border-color: var(--main-text-col);
  color: var(--main-text-col);
}

[class*="copyButtonSuccessIcon_"] {
  color: var(--home-text-col);
}

.alert {
  box-shadow: none;
  border-radius: var(--border-radius);
  border: var(--ifm-tabs-color-active-border) 1px solid;
}

[class*="admonitionHeading_"] {
  font-size: 1rem;
  border: none;
}

.theme-admonition-tip {
  --ifm-tabs-color-active-border: transparent;
  background-color: var(--verde);
}

.theme-admonition-warning {
  box-shadow: none;
  --ifm-tabs-color-active-border: transparent;
  background-color: var(--orange);
}

.theme-admonition-danger {
  --ifm-tabs-color-active-border: transparent;
  background-color: var(--red);
}

.theme-admonition-info {
  --ifm-tabs-color-active-border: transparent;
  background-color: var(--purple);
}

.theme-admonition-note {
  --ifm-tabs-color-active-border: transparent;
  background-color: var(--blue);
}

.theme-doc-version-banner {
  border: 1.5px #ffb70090 solid;
  background-color: #e6a70240;
}

.tabs__item--active {
  border-width: 2px;
}

/* ==========================================================================
   10. KATEX & MATH
   ========================================================================== */
.katex-display {
  position: relative;
}

.katex-display::after {
  content: attr(data-eq-number);
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  font-family: KaTeX_Main, "Times New Roman", serif;
  font-size: 1.1em;
  font-style: normal;
  color: currentColor;
  padding-left: 1em;
}

/* ==========================================================================
   11. MISC & ICONS
   ========================================================================== */
.lucide-icon {
  fill: none !important;
  stroke: currentColor;
}

/* ==========================================================================
   12. BLOG CSS
   ========================================================================== */
.blog-wrapper .avatar__photo-link {
  display: none !important;
}

.blog-wrapper [class*="authorCol_"] {
  cursor: default;
  background-color: var(--border-1px);
  border-radius: var(--border-radius);
  padding: 0 1.25rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 85px;
}

.blog-wrapper .authorCol_aWFg a {
  pointer-events: auto;
  cursor: pointer;
}

.blog-wrapper .avatar__intro {
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-wrapper .avatar {
  margin-bottom: 0 !important;
}

.blog-wrapper .avatar__name,
.blog-wrapper [class*="authorTitle_"] {
  line-height: 1.2;
  margin: 2px 0;
}

[class*="sidebarItemTitle_"] {
  display: none !important;
}

.theme-blog-sidebar-container {
  padding-top: 1rem;
}

@media (max-width: 996px) {
  .blog-wrapper .authorCol_aWFg {
    border-radius: 0px;
  }

  .theme-doc-markdown.markdown {
    padding: 0rem;
  }
}

.margin-bottom--xl h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: none;
}

/* Ingrandisce il contenuto del blog e rimpicciolisce la sidebar dei capitoli */
@media (min-width: 997px) {
  .blog-wrapper .row main.col--7 {
    flex: 0 0 70% !important;
    max-width: 70% !important;
  }

  .blog-wrapper .row aside.col--3 {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}

/* ==========================================================================
   3. TYPOGRAPHY & TEXT ELEMENTS
   ========================================================================== */
h2 {
  margin-top: 3rem; /* Dà il giusto stacco quando inizia un nuovo capitolo */
  margin-bottom: 1rem;
  font-size: 1.462em;
}

h3 {
  font-size: 1.318em;
  margin-top: 2rem;
  margin-bottom: 0.75rem;
}

p {
  font-size: 1.05rem;
  font-weight: 400;
  line-height: 1.75;
  margin-top: 0;
  margin-bottom: 1.25rem; /* Un respiro naturale e costante sotto ogni paragrafo */
}

li {
  line-height: 1.75;
  margin-bottom: 0.5rem;
}

/* ==========================================================================
   SPAZIATURE ELEMENTI SPECIALI (Codici e Admonitions)
   ========================================================================== */

/* Distanzia i riquadri colorati (TIP, NOTE, ecc) dal resto */
.theme-admonition {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

/* Gestione dei blocchi di codice */
.theme-code-block {
  margin-top: 0.5rem; /* Poco spazio sopra, così sembra legato al testo che lo introduce */
  margin-bottom: 1.5rem; /* Molto spazio sotto, per staccare dal paragrafo o titolo successivo */
}

/* Rimuove il margine extra quando un blocco di codice o un paragrafo
   è l'ultima cosa dentro un admonition */
.theme-admonition > *:last-child,
.theme-admonition [class*="codeBlockContainer_"]:last-child,
.theme-admonition .theme-code-block:last-child {
  margin-bottom: 0 !important;
}

/* Sistema lo spazio interno degli Admonition per renderlo simmetrico */
.alert {
  padding: 1rem 1.25rem !important;
}

/* ==========================================================================
   14. TAB BUTTONS - FIX DEFINITIVO COLORI
   ========================================================================== */

.tabs__item {
  padding: 0.3rem 1rem;
  transition: all 0.2s ease;
  color: var(--ifm-font-color-base);
  background-color: transparent !important;
  border-radius: 0px;
}

.tabs__item--active {
  background-color: transparent;
  color: var(--home-text-col);
  border-color: var(--home-text-col);
}

/* Rimuove la linea blu sotto */
.tabs__item--active::after {
  display: none;
}

html[data-theme="dark"] .tabs__item:not(.tabs__item--active) {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ===== DIFF ========== */
.code-block-added-line {
  background-color: rgba(0, 255, 0, 0.15);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #00ff0090;
}

.code-block-removed-line {
  background-color: rgba(255, 0, 0, 0.15);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
  border-left: 3px solid #ff000090;
}

/* ==========================================================================
   12. BLOG CSS & EFFETTO CARTA A MODULO CONTINUO
   ========================================================================== */

.blog-wrapper .avatar__photo-link {
  display: none !important;
}

.blog-wrapper [class*="authorCol_"] {
  cursor: default;
  background-color: var(--border-1px);
  border-radius: var(--border-radius);
  padding: 0 1.25rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-height: 85px;
}

.blog-wrapper .authorCol_aWFg a {
  pointer-events: auto;
  cursor: pointer;
}

.blog-wrapper .avatar__intro {
  margin-left: 0 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.blog-wrapper .avatar {
  margin-bottom: 0 !important;
}

.blog-wrapper .avatar__name,
.blog-wrapper [class*="authorTitle_"] {
  line-height: 1.2;
  margin: 2px 0;
}

[class*="sidebarItemTitle_"] {
  display: none !important;
}

.theme-blog-sidebar-container {
  padding-top: 1rem;
}

.margin-bottom--xl h1 {
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: none;
}

/* Ingrandisce il contenuto del blog e rimpicciolisce la sidebar dei capitoli */
@media (min-width: 997px) {
  .blog-wrapper .row main.col--7 {
    flex: 0 0 70% !important;
    max-width: 70% !important;
  }

  .blog-wrapper .row aside.col--3 {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}

/* ==========================================================================
   EFFETTO FOGLIO FORATO CON TEXTURE IMMAGINE (CORRETTO PER IL BLOG)
   ========================================================================== */

.blog-post-page article {
  position: relative !important;
  padding: 4rem 5rem !important;
  border-radius: 0.7rem;
  background-image: url("/img/paper.png") !important;
  background-size: 100% auto !important;
  background-repeat: repeat-y !important;

  color: var() !important;
}

.blog-post-page article h1,
.blog-post-page article h2,
.blog-post-page article h3,
.blog-post-page article h4,
.blog-post-page article p,
.blog-post-page article li,
.blog-post-page article time,
.blog-post-page article a {
  font-family: "Courier New", Courier, monospace;
  color: #1a1a1a !important;
}

/* Sistemiamo il riquadro dell'autore per farlo staccare bene dalla carta */
.blog-post-page article [class*="authorCol_"] {
  background-color: transparent;
}
.blog-post-page article .avatar__name,
.blog-post-page article .avatar__subtitle {
  font-family: "Courier New", Courier, monospace;
  color: #1a1a1a !important;
}

/* IMPORTANTE: Salviamo i blocchi di codice!
   Riportiamo il testo dentro i blocchi neri al loro colore originale chiaro */
.blog-post-page article pre,
.blog-post-page article code,
.blog-post-page article .prism-code * {
  color: inherit;
}

@media (max-width: 996px) {
  .blog-post-page article {
    padding: 0rem !important;
    background-image: none !important;
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    color: inherit !important;
  }

  .blog-post-page article h1,
  .blog-post-page article h2,
  .blog-post-page article h3,
  .blog-post-page article h4,
  .blog-post-page article p,
  .blog-post-page article li,
  .blog-post-page article time,
  .blog-post-page article a,
  .blog-post-page article .avatar__name,
  .blog-post-page article .avatar__subtitle {
    color: inherit !important;
  }

  .blog-post-page article [class*="authorCol_"] {
    background-color: var(--border-1px) !important;
    border: none !important;
  }
}

.blog-wrapper .container {
  max-width: 92rem;
}
