@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@font-face {
  font-family: "Pixelated MS Sans Serif";
  src: url("/static/fonts/ms_sans_serif.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --home-text-col: #895cf4;
  --main-text-col: #191b1e;
  --bg-col: var(--ifm-background-color);
  --border-1px: #efece5;
  --verde: #c9ebea;
  --orange: #f2e7cb;
  --red: #f2d7de;
  --blue: #d4ddf7cd;
  --purple: #e4dff6;
  --home-nav-bg: #a8c3d4;

  font-family: Lexend !important;
  --ifm-font-family-base: "Lexend", sans-serif;

  --ifm-font-size-base: 16px;
  --ifm-small-font-size: 0.75rem;
  --ifm-font-weight-light: 300;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 600;
  --ifm-line-height-base: 1.5;
  --ifm-heading-line-height: 1.25;

  --ifm-h1-font-size: 28rem;
  --ifm-h2-font-size: 24px;
  --ifm-h3-font-size: 20px;
  --ifm-h4-font-size: 1.25rem;
  --ifm-h5-font-size: 1rem;
  --ifm-h6-font-size: 0.875rem;

  --ifm-color-primary: var(--home-text-col);
  --ifm-color-primary-dark: var(--home-text-col);
  --ifm-color-primary-darker: var(--home-text-col);
  --ifm-color-primary-darkest: var(--home-text-col);
  --ifm-color-primary-light: var(--home-text-col);
  --ifm-color-primary-lighter: var(--home-text-col);
  --ifm-color-primary-lightest: var(--home-text-col);
  --ifm-color-primary-contrast-background: #e1f4ff;
  --ifm-color-primary-contrast-foreground: #00324e;

  --ifm-color-secondary: #e0e7ee;
  --ifm-color-secondary-dark: #d5dee5;
  --ifm-color-secondary-darker: #c3cdd6;
  --ifm-color-secondary-darkest: #b1bcc7;
  --ifm-color-secondary-light: #ebf1f6;
  --ifm-color-secondary-lighter: #f2f7fb;
  --ifm-color-secondary-lightest: #f8fcff;
  --ifm-color-secondary-contrast-background: #ebf1f6;
  --ifm-color-secondary-contrast-foreground: #1b2738;

  --ifm-background-color: #f5f5f0;
  --ifm-heading-color: var(--main-text-col);
  --ifm-color-content-secondary: #616d75;
  --ifm-link-color: var(--home-text-col);
  --border-radius: 0.75rem;

  --ifm-global-shadow-lw: 0px 2px 6px rgba(0, 0, 0, 0.2);
  --ifm-global-shadow-md: 0px 4px 14px rgba(0, 0, 0, 0.16);
  --ifm-global-shadow-tl: 0px 10px 30px rgba(0, 0, 0, 0.16);

  --ifm-navbar-background-color: var(--bg-col);
  --ifm-menu-color: var(--ifm-color-content);
  --ifm-menu-color-active: var(--ifm-color-content);
  --ifm-menu-color-background-active: transparent;
  --ifm-menu-color-background-hover: var(--border-1px);

  --ifm-toc-link-color: var(--ifm-color-content);
  --ifm-toc-border-color: var(--border-1px);
  --ifm-tabs-padding-vertical: 0.3rem;

  --ifm-blockquote-border-color: var(--home-text-col);

  --ifm-footer-background-color: var(--color-gray-8);
  --ifm-footer-padding-vertical: 3rem;

  --ifm-table-stripe-background: var(--border-1px);
  --table-color: var(--border-1px);

  --ifm-code-background: var(--color-gray-4);
  --ifm-code-font-size: 0.875rem;
  --highlight-code-bg: #e4e1d9;
  --codice-bg: var(--border-1px);
  --code-border-bott: var(--highlight-code-bg);
  --text-code-color: #00000010;
}

[data-theme="dark"] {
  --home-text-col: #b39bf8;
  --main-text-col: #dadada;
  --bg-col: var(--ifm-background-color);
  --border-1px: #1b1b1b;
  --verde: #21423e;
  --orange: #4a3e1f;
  --red: #4a2e32;
  --blue: #2c354b;
  --purple: #3c374a;
  --home-nav-bg: #617e8f;

  --ifm-background-color: #131313;
  --ifm-hero-background-color: var(--ifm-background-color);
  --ifm-heading-color: var(--main-text-col);
  --ifm-link-color: var(--home-text-col);

  --ifm-navbar-background-color: var(--bg-col);
  --ifm-toc-border-color: var(--border-1px);
  --ifm-blockquote-border-color: var(--home-text-col);
  --ifm-card-background-color: var(--ifm-color-gray-900);
  --ifm-dropdown-background-color: var(--color-gray-78);
  --collapse-button-bg-color-dark: var(--color-gray-86);

  --ifm-footer-background-color: var(--color-gray-82);

  --ifm-table-stripe-background: var(--border-1px);
  --table-color: var(--border-1px);

  --ifm-pre-background: var(--color-gray-86);
  --ifm-code-background: var(--color-gray-82);
  --highlight-code-bg: #1e1e1e;
  --codice-bg: #1b1b1b;
  --code-border-bott: var(--ifm-background-color);
  --text-code-color: #ffffff16;
}
