:root {
  --color-gray-0: #ffffff;
  --color-gray-4: #f3f5f7;
  --color-gray-4-alpha-04: rgba(243, 245, 247, 0.4);
  --color-gray-8: #e7ebef;
  --color-gray-12: #dce2e8;
  --color-gray-16: #cfd8df;
  --color-gray-20: #c2d0d8;
  --color-gray-24: #b6c6ce;
  --color-gray-28: #a9bcc4;
  --color-gray-32: #9db2ba;
  --color-gray-36: #91a8b0;
  --color-gray-40: #849ea6;
  --color-gray-44: #78949c;
  --color-gray-48: #6c8a92;
  --color-gray-52: #608088;
  --color-gray-56: #54767e;
  --color-gray-60: #486c74;
  --color-gray-64: #3c626a;
  --color-gray-68: #305860;
  --color-gray-72: #244e56;
  --color-gray-74: #344658;
  --color-gray-78: #2c3b4b;
  --color-gray-82: #23303d;
  --color-gray-86: #1c262f;
  --color-gray-86-alpha-04: rgba(28, 38, 47, 0.4);
  --color-gray-90: #141c22;

  /* Docusaurus Specific variables */
  --ifm-color-primary: var(--home-text-col);
  --ifm-color-primary-dark: var(--home-text-col);
  --ifm-color-primary-darker: var(--home-text-col);
  --ifm-color-primary-darkest: var(--home-text-col);
  --ifm-color-primary-light: var(--home-text-col);
  --ifm-color-primary-lighter: var(--home-text-col);
  --ifm-color-primary-lightest: var(--home-text-col);
  --ifm-color-primary-contrast-background: #e1f4ff;
  --ifm-color-primary-contrast-foreground: #00324e;
  --ifm-color-secondary: #e0e7ee;
  --ifm-color-secondary-dark: #d5dee5;
  --ifm-color-secondary-darker: #c3cdd6;
  --ifm-color-secondary-darkest: #b1bcc7;
  --ifm-color-secondary-light: #ebf1f6;
  --ifm-color-secondary-lighter: #f2f7fb;
  --ifm-color-secondary-lightest: #f8fcff;
  --ifm-color-secondary-contrast-background: #ebf1f6;
  --ifm-color-secondary-contrast-foreground: #1b2738;
  --ifm-color-gray-100: var(--color-gray-12);
  --ifm-color-gray-200: #EBF1F6;
  --ifm-color-gray-300: #D5DEE5;
  --ifm-color-gray-400: #B1BCC7;
  --ifm-color-gray-500: #909DA6;
  --ifm-color-gray-600: #74818A;
  --ifm-color-gray-700: #616D75;
  --ifm-color-gray-800: #404955; 
  --ifm-color-gray-900: var(--color-gray-90);

  --ifm-heading-color: var(--color-gray-74);
  --ifm-footer-background-color: var(--color-gray-8);
  --ifm-color-content-secondary: #616d75;
  --ifm-link-color: var(--home-text-col);
  --ifm-menu-color: var(--ifm-color-content);
  --ifm-menu-color-active: var(--ifm-color-content);
  --ifm-toc-link-color: var(--ifm-color-content);

  --ifm-table-stripe-background: var(--color-gray-4-alpha-04);
  --ifm-code-background: var(--color-gray-4);
  --codice-bg: var(--color-gray-4);
  --ifm-code-font-size: 0.875rem; /* 14px */

  --ifm-global-shadow-lw: 0px 2px 6px rgba(0, 0, 0, 0.2);
  --ifm-global-shadow-md: 0px 4px 14px rgba(0, 0, 0, 0.16);
  --ifm-global-shadow-tl: 0px 10px 30px rgba(0, 0, 0, 0.16);
  --ifm-font-size-base: 16px;
  --ifm-line-height-base: 1.5; /* 150% */
  --ifm-font-weight-light: 300;
  --ifm-font-weight-normal: 400;
  --ifm-font-weight-semibold: 500;
  --ifm-font-weight-bold: 600;
  --ifm-heading-line-height: 1.25;
  --ifm-h1-font-size: 2.5rem; /* 40px */
  --ifm-h2-font-size: 2rem; /* 32px */
  --ifm-h3-font-size: 1.5rem; /* 24px */
  --ifm-h4-font-size: 1.25rem; /* 20px */
  --ifm-h5-font-size: 1rem; /* 16px */
  --ifm-h6-font-size: 0.875rem; /* 14px */
  --ifm-small-font-size: 0.75rem; /* 12px */

  --ifm-heading-font-weight: var(--ifm-font-weight-semibold);
  --ifm-footer-padding-vertical: 3rem;
  --navbar-bg: #ffffff;
  --code-bg: var(--color-gray-28);
  --border-1px: #DBDDE1;
  --main-text-col: #131C21;
  --bg-col: #FFFF;
  --home-text-col: #b708d2;
  --highlight-code-bg: #ebebeb;

  --ifm-font-family-base: "Inter", sans-serif;
  --ifm-font-family-monospace: "Google+Sans+Code", monospace;
  --border-radius: 0.75rem;
}

[data-theme='dark'] {
  --ifm-heading-color: var(--color-gray-12);
  --ifm-navbar-background-color: var(--color-gray-82);
  --ifm-background-color: var(--color-gray-90);
  --ifm-hero-background-color: var(--ifm-background-color);
  --ifm-table-stripe-background: var(--color-gray-86-alpha-04);
  --ifm-pre-background: var(--color-gray-86);
  --ifm-code-background: var(--color-gray-82);
  --ifm-dropdown-background-color: var(--color-gray-78);
  --ifm-card-background-color: var(--ifm-color-gray-900);
  --ifm-footer-background-color: var(--color-gray-82);
  --collapse-button-bg-color-dark: var(--color-gray-86);
  --navbar-bg: var(--color-gray-90);

  --home-text-col: #bbee22;
  --codice-bg: var(--color-gray-82);
  --border-1px: #444950;
  --ifm-link-color: var(--home-text-col);
  --main-text-col: #E7EBEF;
  --bg-col: #131C21;
  --highlight-code-bg: #33475a;
}